/* Fontes */
@font-face {
  font-family: 'B612-regular';
  src: url('fontesB612/B612-Regular.ttf');
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #ffffff;
}

/* Mobile First */

body {
  display: grid;
  height: 100vh;
  grid-template-rows: max-content 1fr;
  gap: 100px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7) url(image/background.png) center no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

img {
  max-width: 100%;
}
/* Header */

#header {
  align-self: flex-end;
  margin-top: 150px;
}

#header h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'B612-regular';
  font-weight: bold;
  margin-bottom: 35px;
}

#header h1 {
  text-align: center;
  font-size: 6rem;
  font-family: 'B612-regular';
  font-weight: bold;
}


/* Main */
#main {
  margin: 0 15px;
  display: grid;
  justify-content: center;
}

/* Card */

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

/* Conteudo */
.content {
  max-width: 500px;
}

.text {
  font-size: 1rem;
  font-family: 'B612-Regular';
  text-align: justify;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 30px;
  font-family: 'B612-Regular';
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}

.list-star ,.clock{
  display: flex;
  align-items: flex-end;
}

.clock::before {
  content: '';
  width: 26px;
  height: 26px;
  margin-right: 5px;
  color: white;
  background-image: url(image/clock.svg);
}

/* Botoes */

.assistir{
  font-family: 'B612-Regular';
  font-weight: bold;
  font-size: 1rem;
  padding: 15px 27px;
  background-color: #0072D2;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.trailer{
  font-family: 'B612-Regular';
  font-weight: bold;
  font-size: 1rem;
  padding: 15px 25px;
  background-color: #131318;
  border: none;
  cursor: pointer;
}

.assistir:hover, .trailer:hover {
  transform: scale(1.2);
}

@media (min-width: 767px) {
  #main {
    align-items: flex-start;
    display: grid;
    grid-template-columns: max-content 1fr;    
    column-gap: 75px;
  }

.img {
  display: block;
  margin: 0;
  max-width: max-content;
}

.content {
  max-width: 722px;
}

.text{
  text-align: left;
  font-size: 20px;
}

}